  
  .table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .column-id{
    width: 10%;
  }

  .column-text{
    width: 100%;
  }
  .column-inputs {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   .input1, .input2, .input3, .input4{
    width:50px !important
  }

  .row8input, .row8select{
    width: 120px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0;
  }


