  
  .table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .input-style {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .centered-input-style {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: auto;
  }
  
  .dropdown-button-style {
    cursor: pointer;
    font-size: 16px;
    color: #b40101;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .table-row {
    border-bottom: 1px solid #ddd;
  }
  

  .fourth-row{
    background-color: #e7e6e6;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: table-row;
  }
  .dropdown14-inline-input {
    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
  }
  .dropdown4-middleInput2{
    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
  }
  .middle{    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;}

    .smallerSize{
      width: 120px !important;
      max-width: 120px;
      padding: 4px 6px;
      font-size: 0.85rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }
    .input-wrapper {
      position: relative;
      display: inline-block;
    }
    
    .input-wrapper input {
      padding-right: 20px; /* Για να μην καλύπτει το 'h' */
    }
    
    .input-wrapper .unit {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      color: #555;
      pointer-events: none; /* Δεν επιτρέπει interaction με το κείμενο */
    }
    .smallSize{
      width: 50px !important;
      max-width: 50px;
      padding: 4px 6px;
      font-size: 0.85rem;
      display: inline-block;
    }    
    
    .textCenter{
      text-align: center;
      vertical-align: middle;
    }
    
    .Heigher{
      width: 50px !important;
      height: 80px !important;
      max-width: 50px;
      padding: 4px 6px;
      font-size: 0.85rem;
      display: inline-block;
    }
    .widthSize{
      width: 175px !important;
      height: 80px !important;
      font-size: 0.85rem;
      display: inline-block;
    }