  .fourth-row{
    background-color: #afc7d9 !important;
    width: 100%;
  }

  .table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .bat1{
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  .bat2{
    padding: 30px;
    border-bottom: 1px solid #ddd;
  }
  
  .column-id{
    width: 10%;
  }

  .column-text{
    width: 100%;
  }

 .dropdown4-input1,
  .dropdown4-input2,
  .dropdown4-input3,
  .dropdown4-input4{
    width: 50px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0;
  }
  
  .inputs-alignment{
  position: relative;
  padding-right: 10px;
  justify-items: right;
  }

  .column-inputs {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0;
  }

table {
  width: 100%;
}

  .dropdown-button {
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: table-row;
  }

  .dropdown4-middleInput, .dropdown4-middleInput2 {
    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
  }
  
  .dropdown4{
    background-color:#d8e5f0 ;
  }
    .input-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
    }
    
    .input-wrapper input {
      padding-right: 20px;
    }
    
    .input-wrapper .hoursOfDuration {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      color: #000000;
      pointer-events: none;
    }


