  
  .table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .input-style {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .centered-input-style {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    margin: auto;
  }
  
  .dropdown-button-style {
    cursor: pointer;
    font-size: 16px;
    color: #b40101;
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .table-row {
    border-bottom: 1px solid #ddd;
  }
  

  .fourth-row{
    background-color: #e7e6e6;
  }

  .hidden {
    display: none;
  }
  .visible {
    display: table-row;
  }
  .dropdown14-inline-input {
    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
  }
  .dropdown4-middleInput2{
    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
  }
  .middle{    width: 60px !important;
    max-width: 60px;
    padding: 4px 6px;
    font-size: 0.85rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;}

    .smallerSize{
      width: 120px !important;
      max-width: 120px;
      padding: 4px 6px;
      font-size: 0.85rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: inline-block;
      box-sizing: border-box;
      text-align: center;
    }
  
    