  
  .table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .input-style {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .table-row {
    border-bottom: 1px solid #ddd;
  }
  

  .fourth-row{
    background-color: #e7e6e6;
  }

