.row-width {
  background-color: #afc7d9 !important;
  width: 100%;
}
.special-row-width {
  background-color: rgb(192, 192, 192) !important;
  width: 100%;
}

.table-cell {
  padding: 10px;
}

.table-greenCell {
  position: relative;
  padding: 10px;
  margin-top: 10px;
  padding-bottom: 0%;
  margin-bottom: 0%;
  justify-items: right;
}

.bat1-2,
.bat1-1,
.bat2-1 {
  padding-right: 22px;
  border-bottom: 0px;
  font-weight: bold;
}
.bat2-2 {
  padding-right: 25px;
  border-bottom: 0px;
  font-weight: bold;
}

.column-id {
  width: 5%;
}

.column-text {
  width: 100%;
  font-weight: bold;
  font-weight: bold;
}

.dropdown4-input1,
.dropdown4-input2,
.dropdown4-input3,
.dropdown4-input4,
.dropdown16-input1,
.dropdown16-input2,
.dropdown16-input3,
.dropdown16-input4,
.dropdown16-input5,
.dropdown16-input6,
.dropdown16-input7,
.dropdown16-input8,
.dropdown16-input9,
.dropdown16-input10,
.dropdown16-input11,
.dropdown16-input12,
.dropdown18-input1 {
  width: 50px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-align: center;
}

.dropdown11-input1,
.dropdown11-input2,
.dropdown12-input1,
.dropdown12-input2,
.dropdown14-input1,
.dropdown18-input1,
.dropdown18-input2,
.dropdown22-Dselect1,
.dropdown22-Dselect2,
.dropdown25-input1,
.dropdown25-input2,
.dropdown28-Dselect1,
.dropdown28-Dselect2,
.double-selectInput1,
.double-selectInput2,
.dropdown18-input1,
.dropdown18-input2 {
  width: 120px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.double-input1,
.double-input2 {
  width: 120px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  height: 50px;
  text-align: center;
  height: 50px;
  text-align: center;
}

.inputs-alignment {
  position: relative;
  padding-right: 10px;
  justify-items: right;
}

.middleInput-alignment {
  position: relative;
  padding-right: 10px;
  justify-items: left;
}
.Limit-fontWeight {
  font-weight: 600;
}

.dropdownInputs-alignment {
  position: relative;
  padding-right: 0px;
  padding-right: 0px;
  justify-items: right;
}
.bats-alignment {
  position: relative;
  justify-items: right;
  justify-content: center;
  margin-top: 70px;
  justify-content: center;
  margin-top: 70px;
}

.inputs20-alignment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

table {
  width: 100%;
}

.dropdown-button {
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  background-color: transparent;
  border: none;
  padding: 0;
}

.hidden {
  display: none;
}

.visible {
  display: table-row;
}

.dropdown4-middleInput2,
.dropdown14-middleInput,
.dropdown4-middleInput {
  width: 100px;
  max-width: 100px;
  padding: 4px 6px;
  margin-left: 5px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right;
}

.dropdown12,
.dropdown13,
.dropdown14 {
  background-color: rgba(219, 219, 219, 0.842);
}

.dropdown4,
.dropdown11,
.dropdown16,
.dropdown18,
.dropdown19,
.dropdown20,
.dropdown21,
.dropdown22,
.dropdown25,
.dropdown28,
.dropdown31,
.dropdown34,
.dropdown38 {
  background-color: rgb(216, 229, 240, 0.842);
}

.input-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input-wrapper input {
  padding-right: 15px;
}

.input-wrapper .unit {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.input-wrapper-start {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.input-wrapper-start .unit {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.input-wrapper-start .unit2 {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.input-wrapper-start .unit3 {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  pointer-events: none;
}

.input-wrapper-start input {
  padding-right: 15px;
}

.input1,
.input2,
.input3,
.input4 {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.dropdown13-input1,
.dropdown13-text3,
.limit1,
.limit2,
.limit3,
.row15input1,
.row15input2,
.row15input3,
.dropdown31-input1,
.dropdown31-input1,
.dropdown21-input1,
.dropdown22-select1,
.dropdown28-select1,
.single-select1,
.single-input1,
.duration1BAT,
.duration2BAT,
.single-dropdown11-input1 {
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.duration1BAT,
.duration2BAT,
.dropdown4-middleInput {
  font-weight: 600;
  background-color: #d9e5ee;
  text-align: left;
}

.limit1,
.limit2,
.limit3 {
  font-weight: 600;
  background-color: rgba(219, 219, 219, 0.842);
  text-align: left;
}

.dropdown13-text3,
.row15input1,
.row15input2,
.row15input3,
.dropdown31-input1,
.dropdown13-text3 {
  font-weight: 600;
  text-align: left;
}

.dropdown20-input1 {
  width: 260px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.dropdown20-input2 {
  width: 260px;
  border: 1px solid #ccc;
  border-top: 0px;
  border-radius: 4px;
  border-top-right-radius: 0%;
  border-top-left-radius: 0%;
  padding: 0;
  margin: 0;
}

.dropdown20-input3 {
  width: 260px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.dropdown16-input13,
.dropdown16-input14 {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  height: 80px;
  font-weight: 600;
  text-align: center;
}
.dropdown16-text7 {
  width: 50px;
  font-weight: 600;
  font-weight: 600;
  text-align: center;
}
.dropdown16-text7 {
  width: 50px;
  font-weight: 600;
}

.dropdown16-input13-wider {
  width: 114px;
  max-width: 120px;
  border-radius: 4px;
  height: 80px;
  border: 1px solid #ccc;
  text-align: center;
  font-weight: 600;
}

.dropdown16-input13-width,
.dropdown16-input14-width {
  width: 50px;
  max-width: 120px;
  width: 114px;
  max-width: 120px;
  height: 80px;
  text-align: center;
  font-weight: 600;
}

.dropdown16-input13-width,
.dropdown16-input14-width {
  width: 50px;
  max-width: 120px;
  height: 80px;
}

.CenterText {
  text-align: center;
  vertical-align: middle;
  padding-right: 20px;
  padding-right: 20px;
}

.col-width {
  width: 120px;
  max-width: 120px;
  max-width: 120px;
  text-align: center;
  padding-right: 20px;
  padding-right: 20px;
}

.dropdown34-select1,
.dropdown34-select2,
.dropdown34-select3,
.dropdown34-select4,
.dropdown34-select5,
.dropdown34-select6,
.dropdown38-select1,
.dropdown38-select2,
.dropdown38-select3,
.dropdown38-select4,
.dropdown38-select5,
.dropdown38-select6,
.row39-select1,
.row39-select2,
.row39-select3,
.row39-select4,
.row39-select5,
.row39-select6 {
  width: 80px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.dropdown19-Dinput1,
.dropdown19-Dinput2,
.dropdown19-Dinput3,
.dropdown19-Dinput4 {
  width: 80px;
  border: 0px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.doubleSelect19-alignment {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.dropdown19-Dinput1,
.dropdown19-Dinput2,
.dropdown19-Dinput3,
.dropdown19-Dinput4 {
  width: 80px;
  border: 0px;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.doubleSelect19-alignment {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

.dropdown19-input1,
.dropdown19-input2 {
  width: 168px;
  width: 168px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}
.inputs-alignment th {
  width: 100px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.blue-text {
  color: rgb(2, 2, 133);
}

.green-text {
  color: rgb(0, 66, 0);
}

.red-text {
  color: rgb(107, 23, 0);
}

.brown-text {
  color: rgb(109, 54, 22);
}

.green-column {
  background-color: rgb(169, 194, 169);
  border: 1px solid rgb(137, 180, 137);
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 120px;
  text-align: center;
}

.dropdown14-input2 {
  background-color: rgb(169, 194, 169);
  width: 120px;
  border: 1px solid rgb(137, 180, 137);
  border-radius: 4px;
  text-align: center;
}

.text-weight {
  font-weight: 600;
}

textarea {
  width: 1430px;
  margin: 5px;
}

.stepsFor28 {
  padding-left: 15px;
}

.brief {
  padding-left: 15px;
}

.top {
  padding-top: 20px;
  border-top: 1px solid #000000;
}

.dropdown14-firstMiddleInput {
  color: rgb(2, 2, 133);
}
